
/* .Light.up {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.Light.center {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}

.Light.bot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black; */
/* } */

/* .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    margin-bottom: 40px;
} */



body>h1 {
    text-align: center;
    background-color: blueviolet;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

body>p>a {
    font-size: 24px;
    text-decoration: none;
}

body>p>a:hover {
    background-color: cadetblue;
}


#lightchanger {
    
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Light {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.Light.green {
    background-color: rgb(24, 140, 24);
}

.Light.yellow {
    background-color: rgb(245, 233, 6);
}

.Light.red {
    background-color: rgb(201, 39, 21);
}

