.content {
    font-size: 24px;
    margin-bottom: 40px;
    background-color: blanchedalmond;
}

body>h1 {
    text-align: center;
    background-color: blueviolet;
}

.images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

body>p>a {
    font-size: 24px;
    text-decoration: none;
}

body>p>a:hover {
    background-color: cadetblue;
}

#consoleLog:hover {
    font-weight:bold;
    font-size: 30px;
}
#aler:hover {
    font-weight:bold;
    font-size: 30px;
}
#prompt:hover {
    font-weight:bold;
    font-size: 30px;
}
